.body {
  margin-top: 50%;
  margin-left: 50%;
  align-self: center;
  display: inline-block;
}

ion-content {
  display: inline-block;
  align-self: center;
  align-content: flex-end;
  margin-top: 50%;
  margin-left: 50%;
}


ion-content .bottom-section {
  padding:
    50px }
